@font-face {
  font-family: 'Instrument Sans';
  src: url('/assets/fonts/InstrumentSans-Variable.ttf') format('truetype');
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('/assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 500 900;
  font-display: swap;
}

@font-face {
  font-family: 'National Park';
  src: url('/assets/fonts/NationalPark-Variable.ttf') format('truetype');
  font-weight: 500 900;
  font-display: swap;
}

:root {
  --rouge-pns: #ff1b4c;
  --bleu-buvette: #1cc1ff;
  --blanc: #ffffff;
  --noir: #1b0015;

  --couleur-texte: light-dark(var(--noir), var(--blanc));
  --couleur-section: light-dark(var(--blanc), var(--noir));

  --polices-defaut:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;

  &[data-theme='dark'] {
    color-scheme: dark;
  }
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}

a {
  text-decoration: none;
}
