{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2
}
