services:
  app:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/pnscore
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:18
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=pnscore
    volumes:
      - postgres_data:/var/lib/postgresql/18/data
    restart: unless-stopped

volumes:
  postgres_data:
